@font-face
{
  font-display: swap;
  font-family: "Akrobat";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/akrobat-thin.eot");
  src: url("../fonts/akrobat-thin.eot?#iefix") format("embedded-opentype"),
       url("../fonts/akrobat-thin.woff2") format("woff2"),
       url("../fonts/akrobat-thin.woff") format("woff"),
       url("../fonts/akrobat-thin.ttf") format("truetype"),
       url("../fonts/akrobat-thin.svg#Akrobat-Thin") format("svg");
}

@font-face
{
  font-display: swap;
  font-family: "Akrobat";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/akrobat-extralight.eot");
  src: url("../fonts/akrobat-extralight.eot?#iefix") format("embedded-opentype"),
       url("../fonts/akrobat-extralight.woff2") format("woff2"),
       url("../fonts/akrobat-extralight.woff") format("woff"),
       url("../fonts/akrobat-extralight.ttf") format("truetype"),
       url("../fonts/akrobat-extralight.svg#Akrobat-ExtraLight") format("svg");
}

@font-face
{
  font-display: swap;
  font-family: "Akrobat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/akrobat-light.eot");
  src: url("../fonts/akrobat-light.eot?#iefix") format("embedded-opentype"),
       url("../fonts/akrobat-light.woff2") format("woff2"),
       url("../fonts/akrobat-light.woff") format("woff"),
       url("../fonts/akrobat-light.ttf") format("truetype"),
       url("../fonts/akrobat-light.svg#Akrobat-Light") format("svg");
}

@font-face
{
  font-display: swap;
  font-family: "Akrobat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/akrobat-sembibold.eot");
  src: url("../fonts/akrobat-sembibold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/akrobat-sembibold.woff2") format("woff2"),
       url("../fonts/akrobat-sembibold.woff") format("woff"),
       url("../fonts/akrobat-sembibold.ttf") format("truetype"),
       url("../fonts/akrobat-sembibold.svg#Akrobat-SembiBold") format("svg");
}

@font-face
{
  font-display: swap;
  font-family: "Akrobat";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/akrobat-extrabold.eot");
  src: url("../fonts/akrobat-extrabold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/akrobat-extrabold.woff2") format("woff2"),
       url("../fonts/akrobat-extrabold.woff") format("woff"),
       url("../fonts/akrobat-extrabold.ttf") format("truetype"),
       url("../fonts/akrobat-extrabold.svg#Akrobat-ExtraBold") format("svg");
}

@font-face
{
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 100;
  src: url("fonts/jetbrainsmono-thin.eot");
  src: url("fonts/jetbrainsmono-thin.eot?#iefix") format("embedded-opentype"),
  url("fonts/jetbrainsmono-thin.woff2") format("woff2"),
  url("fonts/jetbrainsmono-thin.woff") format("woff"),
  url("fonts/jetbrainsmono-thin.ttf") format("truetype"),
  url("fonts/jetbrainsmono-thin.svg#JetBrainsMono-Thin") format("svg");
}

@font-face
{
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 100;
  src: url("fonts/jetbrainsmono-thinitalic.eot");
  src: url("fonts/jetbrainsmono-thinitalic.eot?#iefix") format("embedded-opentype"),
  url("fonts/jetbrainsmono-thinitalic.woff2") format("woff2"),
  url("fonts/jetbrainsmono-thinitalic.woff") format("woff"),
  url("fonts/jetbrainsmono-thinitalic.ttf") format("truetype"),
  url("fonts/jetbrainsmono-thinitalic.svg#JetBrainsMono-ThinItalic") format("svg");
}